header{
    background-color: #00a3cc;
    text-align: center;
}

nav{
    line-height: 30px;
    text-align: center;
    background-color: #C0C0C0;
    height: 500px;
    width: 170;
    float:left;
}
section{
    text-indent: 10px;
    height:500px;
    text-align: center;
}

footer{
    text-align: center;
    background-color: #C0C0C0;
}
